.field {
  margin-top: 30px;
  display: inline-block;
}
.field .row {
    display: flex;
  }
.square {
    width: 50px;
    height: 50px;
    border: 0.5px solid black;
}

.square:hover {
  transition-duration: 0s;
}